@model IEnumerable<judocas.Models.Professor.ProfessorGrupo>

@{
    ViewData["Title"] = "Estatisticas de professores";
}

<h2>Corpo de professores</h2>

<table>
    <tr>
        <th>
            Data de Nascimento
        </th>
        <th>
            Professores
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @item.ContagemProfessores
            </td>
        </tr>
    }
</table>